@model Artist

<div class="row">
    <div class="col-md-4">
        <form asp-controller="AdminArtist" asp-action="Update">
            <input type="hidden" asp-for="Id"/>
            <div class="form-group">
                <input asp-for="Name" />
            </div>
            <div class="form-group">
                <input asp-for="UrlImg" />
            </div>
            <input type="hidden" asp-for="Albums"/>
            <div class="form-group">
                <input type="submit" value="Отредактировать" />
            </div>
        </form>
    </div>
</div>