@model Music.ViewModels.AdminSongViewModel

<div class="row">
    <div class="col-md-4">
        <form method="post" asp-controller="AdminSong" asp-action="Create">
            <div class="form-group">
                <input type="hidden" asp-for="@Model.AlbumId"/>
            </div>
            <p>Название</p>
            <div class="form-group">
                <input asp-for="@Model.Song.Name"/>
            </div>
            <p>URL песни</p>
            <div class="form-group">
                <input asp-for="@Model.Song.UrlSong"/>
            </div>
            <div class="form-group">
                <input type="submit" value="Добавить"/>
            </div>
        </form>
    </div>
</div>